 html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 15px;  /* size of footer */
    font-family: "Helvetica Neue", Helvetica , Arial, sans-serif;
}

body a:link, a:visited, a:hover{
    color: #625B63;
}

.navbar {
    margin-bottom: 0;
}

/* navbar hamburger */
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
/* navbar hamburger background-color */
.navbar-toggle {}

/* navbar hamburger when clicked */
.navbar-default .navbar-toggle:focus { background-color: #ccc; }
.navbar-default .navbar-toggle:focus .icon-bar { color: #625B63; }

@font-face {
    font-family: 'marck_scriptregular';
    src: url('../fonts/marckscript-regular-webfont.eot');
    src: url('../fonts/marckscript-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/marckscript-regular-webfont.woff2') format('woff2'),
         url('../fonts/marckscript-regular-webfont.woff') format('woff'),
         url('../fonts/marckscript-regular-webfont.ttf') format('truetype'),
         url('../fonts/marckscript-regular-webfont.svg#marck_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.font-marckscript {
    font-family: 'marck_scriptregular', Serif;
}

.font-helvetica {
    font-family: "Helvetica Neue", Helvetica , Arial, sans-serif;
}

.title-breadcrumb {
    display: inline;
}

#page-content {
    /* bootstrap navbar is 50px; */
    margin-top: 50px;
    width: 100%;
}

#container_panels{
    width: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15px;
}

.footer-engine{
    font-size:0.7em;
    margin:0;
    padding:0;
}

.a_invert_link a:link, .a_invert_link a:visited, .a_invert_link a:hover{
    color: #fff;
}

.navbar-default .navbar-nav>li>a{
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover{
    background-color: #fff;
    color: #625B63;
}

.div-inline-first-children > * {
   display: inline-block;
}

#brand {
    background-color: #625B63;
    color: #fff;
}

.vcenter {
    /* ie11+ - good enough*/
    display: flex;
    align-items: center;
}

.hcenter {
    margin: 0 auto;
}

.text-hcenter {
    text-align: center;
}

.dark-color {
    color: #625B63;
}

.light-color {
    color: #BFECFC;
}

.ok {
    color: #79EA9D;
}

.warning {
    color: #FFDE93;
}

.error {
    color: #FC8A88;
}

.bg-dark-color {
    background-color: #625B63;
}

.bg-medium-color {
    background-color: #CFCDD0;
}

.bg-light-color {
    background-color: #BFECFC;
}

.bg-very-light-color {
    background-color: #F0FAFE;
}

.bg-ok, .btn-success {
    background-color: #79EA9D;
}

.bg-warning, .btn-warning {
    background-color: #FFDE93;
}

.bg-unknown, .btn-unknown {
    background-color: #FFDE93;
}

.bg-error, .btn-danger {
    background-color: #FC8A88;
}

.plainlink a {
    text-decoration: none;
}

.width_100 {
    width:100%;
}

.width_80 {
    width:80%;
    min-width: 8em;
}

/* Checkbox resize: IE10+, FF30+, Chrome27+, Safari5.1+ */
.bigcheck input[type=checkbox] {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
}

.bigcheck2x input[type=checkbox] {
    transform: scale(2);
    -webkit-transform: scale(2);
}

.disabled {
    background: #625B63;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}

/* an entire group of panels */
.yamsGroup {}

/* a panel of a certain type (e.g. "third party status") */
.yamsPanel {
    /* top and bottom */
    margin: 1em 0 1em 0;
    padding: .25em 0;
    /*border-left: .15em solid #625B63;*/
    background-color: #fcfcfc;
}

.yamsPanelLabel {
    font-size:1.2em;
    border-bottom: .15em solid #625B63;
    /*border-left: .15em solid #625B63;*/
}

.yamsPanelLabelText {
    margin-left:.25em;
}

/* an individual box inside of a panel */
.yamsBox {}
.yamsBoxLabel {}
.yamsBoxStatusTitle {
    margin-right:.25em;
}

.yamsBoxDetailTitle {
    margin-right:.25em;
}

.yamsBoxLastUpdated {
    font-size:.5em;
}

.yamsSubtreeMatchBox{
    margin-top: .1em;
}

.yamsSubtreeMatchText{
    font-size: .75em;
}