<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="YAMS - Yet Another Management System for Clever Ops/DevOps/SysAdmins">
<meta name="keywords" content="yams,yams-api,yet another management system,ops-api,devops-dashboard">
<link href="{{ url_for('static', filename='css/reset.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='js/plugins/jquery-ui-1.11.4/jquery-ui.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='js/plugins/jquery-ui-1.11.4/jquery-ui.structure.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='js/plugins/jquery-ui-1.11.4/jquery-ui.theme.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/yams.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/yams_custom.css') }}" rel="stylesheet">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<script src="{{ url_for('static', filename='js/plugins/react/react.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/react/react-dom.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/react/browser.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<title>{{ site_name }}</title>
{% block head %}{% endblock %}
</head>
<body>
<!-- site navigation -->
{% include "components/navbar.html.j2" %}

<!-- page content -->
<div class="container" id="page-content">
<!-- flashed messages -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<div id="flashed-messages-wrap">
  <div id="flashed-messages">
    {% for category, msg in get_flashed_messages(with_categories=true) %}
      <p class="flashed-message flash-{{ category|default('info') }}">{{ msg }}</p>
    {% endfor %}
  </div>
</div>
{% endif %}
{% endwith %}

<!-- include body -->
{% block body %}{% endblock %}
<!--
panels are templated to display below the body.
this allows for doing dynamic headers (e.g. help/warning text "this is a live system!" ) above panel inclusion
-->
{% block panels %}
{% if panels %}

<div id="container_panels" class="col-xs-12">
<script type="text/babel">

{# pass the value through our loader that will convert to a valid json error if invalid, then to raw output #}
var yams_debug_mode = {{ yams_debug_mode|safe }};
var yams_api_address = "{{ yams_api_address }}";
var issue_project_tracker = "{{ issue_project_tracker }}";
var yams_data = {{ panels|to_json_valid_or_error|safe }};

{# included in panels block so asynchronous/"unordered" loading doesn't affect us #}
{% from "components/macros.html" import make_panel with context %}
{% include "components/react_classes.js" %}

</script><!-- panel scriptbox -->
</div><!-- #container_panels -->
{% endif %}
{% endblock panels %}

</div><!-- primary page .container (does not include navbar or footer) -->

<!-- footer (if any) -->
<footer class="footer text-center">
  <div class="container">
    {% block footer %}{% endblock footer %}
    <p class="text-muted footer-engine">{% if user %}current user: {{ user }}.{% endif %}  application powered by yams.  <a href="https://github.com/tristanfisher/yams">view the source</a></p>
  </div>
</footer>

<!-- end of page JS inclusion -->
<script src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/jquery-ui-1.11.4/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<!-- yams data-->
</body>
</html>